body {
  margin: 0;
  padding: 0;
  background-color: #96af9e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

/* Navbar styling and positioning */

#topbar {
  display: flex;
  background-color: #006739;
  height: 80px;
  width: 100%;
}

#main-logo {
  height: auto;
  width: auto;
}

.links-left {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start ;
  align-items: center;
} 

.links-left a, 
.links-right a {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 5px;
  color: white;
}

.links-right {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

#main-article {
  display: flex;
  width: auto;
  justify-content: center;
}

#main-picture {
  overflow: hidden;
  transition: transform 0.5s ease;
  padding-top: 25px;
  padding-right: 10px;
}

#main-picture:hover {
  transform: scale(0.95);
}

#main-paragraph {
  padding: 5px;
}

#sub-article {
  padding: 0;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 10px 0px;
}

#sub-article-pic {
  height: 80px;
  width: auto;
  padding: 0 5px;
  border-radius: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#pfp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

#signature {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

/* Dropdown menu code */

/* Alignment for content within the menu */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Changes cursor to pointer on hover */

.dropdown button {
  cursor: pointer;
}

/* Alignment and styling for content */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

/* Alignment and styling for content hyperlinks */

.dropdown-content a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
  margin: 0;
}

/* Alignment and styling for content hyperlinks on hover */

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Alignment for content on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

.article-container {
  flex-flow: row wrap;
}

#article1 {
  padding: 0;
  margin: 0;
}

#picture1 {
  height: 100px;
  width: auto;
}

/* Footer styling */

#footer 
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#006739;
  color: rgb(227, 225, 225);
}
